<div>
    <form method="post" action="/Home/AddTopic/">
        <label>Имя темы:</label>
        <input type="text" name="Name" placeholder="Введите имя" />
        <input type="submit" value="Создать" />
    </form>
</div>